@model TeamTwoBe.Views.ViewModels.SaleConditionGradeVM

@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    </head>
<body>
    <div id="base">

        <h2 id="sales" style="text-align:center;">Wishlist</h2>
        <div id="Collection">
            @using (Html.BeginForm("apiPrice", "Card", FormMethod.Post, new { @id="Collection1" } ))
            {
                <b>Search:</b>
                <input id="dropbox" list="CardList" type="text" name="dropboxvalue" />
                <input type="submit" value="Search" />
            }
            @if (Model.MyCards != null)
            {
                <datalist id="CardList">
                    @foreach (var i in Model.MyCards)
                    {
                        <option value="@i.name"></option>
                    }
                </datalist>
            }

            @if (Model.MyDatum != null)
            {
                <datalist id="CardList">
                    @foreach (var i in Model.MyDatum)
                    {
                        <option value="@Model.MyCard @i.print_tag @i.rarity"></option>
                    }
                </datalist>
            }

            @if (Model.MyDatum != null)
            {
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Image</th>
                        <th>Cards</th>
                    </tr>
                    @foreach (var item in Model.MyCards)
                    {
                        <tr>
                            <td style="text-align: center"><div data-tilt data-tilt-glare="true" style="display:inline-block;">< loading="auto" height="422" width="290" class="lozad" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Blank.gif" data-src="@item.image_url" /></div></td>
                            <td>
                                <h4><b>Name:</b> @item.name</h4>
                                <p><b>Set:</b> @item.print_tag</p>
                                <p><b>Rarity:</b> @item.rarity</p>
                                <p><b>Card Type:</b> @item.Cardtype.Name</p>
                                <p><b>Price:</b> @item.average.ToString("c2")</p>
                                @Html.ActionLink("Add to Wishlist", "addCardToWishlist", new { id = item.ID }, new { @class = "btn btn-primary", @onclick="loading()" })
                                @Html.ActionLink("Add to Collection", "addCardToCollection", new { id = item.ID }, new { @class = "btn btn-primary", @onclick="loading()" })
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>

