@model TeamTwoBe.Views.ViewModels.SaleConditionGradeVM

@{
    ViewBag.Title = "New Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link href="~/CSS/create.css" rel="stylesheet" type="text/css">
    </head>
<body>
    <div id="create-container" class="form-horizontal">
        <h2 id="create-title" class="text-center">New sale</h2>

        <div class="form-group">
            @if (Model.fix == false)
            {
                <label class="control-label col-md-12">Card name</label>
                <div class="col-md-12">
                    @using (Html.BeginForm("apiPrice", "Sales", FormMethod.Post, new { @id ="card-search"}))
                    {
                        <input value="@Model.MyCard1" id="dropbox" list="CardList" type="text" name="dropboxvalue" />
                        <input type="submit" value="Search">
                    }
                </div>
            }
            @if (Model.MyCards != null)
            {
                <datalist id="CardList">
                    @foreach (var i in Model.MyCards)
                    {
                        <option value="@i.name"></option>
                    }
                </datalist>
            }
            @if (Model.MyDatum != null)
            {
                <datalist id="CardList">
                    @foreach (var i in Model.MyDatum)
                    {
                        <option value="@Model.MyCard @i.print_tag @i.rarity"></option>
                    }
                </datalist>
            }
        </div>
        @using (Html.BeginForm("Create", "Sales", FormMethod.Post, new { @id ="card-search"}))
        {
            if (Model.fix == true)
            {
                <div class="form-group">
                    <label class="control-label col-md-12">Card name</label>
                    <div class="col-md-12">
                        <input value="@Model.MyCard1" id="dropbox2" list="CardList" type="text" name="dropboxvalue" />
                    </div>
                </div>
            }
                   
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MySale.Price, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id="pricetb" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @name = "Price" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MySale.CardCondition, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("Conditions", null , "Choose Condition", new { @id="pricetb" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MySale.CardGrade, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownList("Grades", null , "Choose Grade", new { @id="pricetb" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MySale.ForAuction, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ForAuction)
                        @Html.ValidationMessageFor(model => model.MySale.ForAuction, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input id="submit-btn" type="submit" value="Create" class="btn btn-lg btn-default" />
                </div>
            </div>
        }
    </div>
</body>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>