@model TeamTwoBe.Views.ViewModels.SaleConditionGradeVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>

    @using (Html.BeginForm("Create","Sales"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h2>Hey @Session["Username"], Create a new sale</h2>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Card name</label>
                <div class="col-md-10">
                    <input list="CardList" type="text" name="test" />
                    @Html.ActionLink("Search", "getCards", null, new { @class= "btn btn-primary" })
                    @if (Model.MyCards != null)
                    {
                        <datalist id="CardList" name="">
                            @foreach (var i in Model.MyCards)
                            {
                                <option value="@i.name"></option>
                            }
                        </datalist>
                    }
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MySale.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @name = "Price" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MySale.CardCondition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Conditions", "Choose Condition")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MySale.CardGrade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Grades", "Choose Grade")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MySale.ForAuction, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ForAuction)
                        @Html.ValidationMessageFor(model => model.MySale.ForAuction, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index", new { id = Session["UserID"] })
        </div>
    }

</body>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

