@model List<TeamTwoBe.Models.Sale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <table class="table table-hover table-bordered">
        @foreach (var item in Model) {
            <tr>
                <td><img src="@item.Card.image_url" /></td>
                <td>
                    <h4>@item.Card.name</h4>
                    <p><b>Card Type:</b> @item.Card.Cardtype</p>
                    <p><b>Price:</b> @item.Card.PriceAverage.ToString("c2")</p>
                    @using (Html.BeginForm("addToWishList", "Profile"))
                    {
                        @Html.ActionLink("Add to Wishlist", "addToWishList", new { id = item.Card.name }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>
        }
    </table>
}