@model TeamTwoBe.Models.Sale

@{
    ViewBag.Title = "removeListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="base">

    <div style="margin-top:8%;" id="remove-div">

        <h3 style="text-align:center;" id="sales">Are you sure you want to remove this listing?</h3>
        <div style="display:flex;">
            <div id="remove-details">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Card)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Card.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UploadDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UploadDate)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Unlist" class="btn btn-default" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
            <div>
                <img id="removeimage" src="@Model.Card.image_url" />
            </div>
        </div>
    </div>
</div>
