@model TeamTwoBe.Models.Sale

@{
    ViewBag.Title = "removeListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to remove this listing?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unlist" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-default" })
        </div>
    }
</div>
