@model TeamTwoBe.ViewModels.ListCardListSale
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</head>

<body>
    <div id="base">

        @if (Model != null)
        {
            if (Model.Cards.Count() == 0 & Model.Sales.Count() == 0 & Model.Users.Count() == 0)
            {
                <div style="text-align:center; margin: 150px auto">
                    <h2>No results found</h2>
                </div>
            }
            else
            {
                <h2 id="sales" style="text-align:center;">Sales</h2>
                <div id="AllCards" class="container">
                    <div class="row">
                        @if (Model.Sales.Count > 0)
                        {
                            foreach (var item in Model.Sales)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        <div data-toggle="modal" data-target="#@item.ID" id="CardImage">
                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                        </div>
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a><p id="CardName">@item.Card.name</p></a>
                                                <div>
                                                    <a id="seller" onclick="loading()" href="/Users/Profile/@item.Seller.ID">@item.Seller.Username</a>
                                                    <p id="watchcount">@item.Watcher.Count watchers - @item.UploadDate.ToString("dd/MM/yyyy")</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="@item.ID" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div id="modal-header1">
                                                    <h4 style="text-align:center;" class="modal-title">@item.Card.name</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:flex;">
                                                    <div id="modalDetails1">
                                                        <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                                    </div>
                                                    <div id="modalDetails">
                                                        <p><b>Card Type:</b> @item.Card.Cardtype.Name</p>
                                                        <p><b>Card Set:</b> @item.Card.print_tag</p>
                                                        <p><b>Rarity:</b> @item.Card.rarity</p>
                                                        <h4>Price Info (USD based):</h4>
                                                        <p><b>Low:</b> @item.Card.low.ToString("c2") </p>
                                                        <p><b>Average:</b> @item.Card.average.ToString("c2") </p>
                                                        <p><b>High:</b> @item.Card.high.ToString("c2") </p>
                                                        <p><b>This Sale Price (NZD):</b> @item.Price.ToString("c2") </p>
                                                        <p><b>Grade:</b> @item.CardGrade.Grading <b>Condition:</b> @item.CardCondition.CardCondition</p>
                                                        <p><b>Username: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active", @onclick = "loading()" })</p>
                                                        @if (Session["UserID"] != null)
                                                        {
                                                            if (item.Seller.ID.ToString() == Session["UserID"].ToString())
                                                            {
                                                                <a>@Html.ActionLink("Edit Listing", "editListing", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()" })</a>
                                                                <a id="modalDetails1">@Html.ActionLink("Remove Listing", "removeListing", new { id = item.ID }, new { @class = "btn btn-default", @onclick = "loading()" })</a>
                                                            }
                                                            else
                                                            {
                                                                <a>@Html.ActionLink("Add to Watchlist", "addToWatchlist", "Profile", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()" })</a>
                                                                <a id="modalDetails1">@Html.ActionLink("Add to Shopping cart", "addShoppingcart", "Profile", new { id = item.ID }, new { @class = "btn btn-default", @onclick = "loading()" })</a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a>@Html.ActionLink("Add to Watchlist", "addToWatchlist", "Profile", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()" })</a>
                                                            <a id="modalDetails1">@Html.ActionLink("Add to Shopping cart", "addShoppingcart", "Profile", new { id = item.ID }, new { @class = "btn btn-default", @onclick = "loading()" })</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <br />
                </div>

                <h2 id="sales" style="text-align:center;">Cards</h2>
                <div id="AllCards" class="container">
                    <div class="row">
                        @if (Model.Cards.Count > 0)
                        {
                            foreach (var item in Model.Cards)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        <div data-toggle="modal" data-target="#@item.ID" id="CardImage">
                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                        </div>
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a><p id="CardName">@item.name @item.print_tag</p></a>
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="@item.ID" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div id="modal-header1">
                                                    <h4 style="text-align:center;" class="modal-title">@item.name</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:flex;">
                                                    <div id="modalDetails1">
                                                        <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                                    </div>
                                                    <div id="modalDetails">
                                                        <p><b>Card Type:</b> @item.Cardtype.Name</p>
                                                        <p><b>Card Set:</b> @item.print_tag</p>
                                                        <p><b>Rarity:</b> @item.rarity</p>
                                                        <h4>Price Info (USD based):</h4>
                                                        <p><b>Low:</b> @item.low.ToString("c2") </p>
                                                        <p><b>Average:</b> @item.average.ToString("c2") </p>
                                                        <p><b>High:</b> @item.high.ToString("c2") </p>
                                                        @Html.ActionLink("Add to Wishlist", "addCardToWishlist", "Card", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <br />
                </div>

                <h2 id="sales" style="text-align:center;">Users</h2>
                <div id="AllCards" class="container">
                    <div class="row">
                        @if (Model.Users.Count > 0)
                        {
                            foreach (var item in Model.Users)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        <div id="CardImage">
                                            <a href="/Users/Profile/@item.ID"><div style="display:inline-block;"><img loading="auto" oncontextmenu="rightclick()" height="215" width="215" class="lozad" src="~/Properties/@item.DisplayPicture" /></div></a>
                                        </div>
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a onclick="loading()" href="/Users/Profile/@item.ID"><p id="CardName">@item.Username</p></a>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            }

        }

        <div class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.oncontextmenu = function () {
            return false;
        }
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>