@model TeamTwoBe.ViewModels.ProfileViewModel
@{
    ViewBag.Title = " Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</head>
<body>
    <div style="text-align:center;">
        <h2 id="ProfileUsername">@Model.MyUser.Username's profile</h2>

        <div style="display:inline-block;">
            @if (Model.MyUser.ID.ToString() == Session["UserID"].ToString())
            {
                <div id="CurrentSales">
                    <div style="display:flex">
                        <h3 id="sales" style="text-align:center;">My Listings</h3>
                        <a id="sales" style="height:20%; color:#3ea6ff; text-align:center; padding-top:10px; margin-left:60%">@Html.ActionLink("SEE ALL", "MyListings", "Sales", new { id = Model.MyUser.ID }, new { @id = "seeall" })</a>
                    </div>
                    <div id="AllCards" class="container">
                        <div class="row">
                            @foreach (var item in Model.MySales)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        @if (item.ID != 1038)
                                        {
                                        <div data-toggle="modal" data-target="#Listings_@item.ID" id="CardImage">
                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                        </div>
                                        }
                                        else
                                        {
                                            <div id="CardImage">
                                                <a><div style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" /></div></a>
                                            </div>
                                        }
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a style="text-align:center;"><p id="CardName">@item.Card.name</p></a>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Listings_@item.ID" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div id="modal-header1">
                                                    <h4 style="text-align:center;" class="modal-title">@item.Card.name</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:flex;">
                                                    <div id="modalDetails1">
                                                        <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                                    </div>
                                                    <div id="modalDetails">
                                                        <p><b>Card Type:</b> @item.Card.Cardtype.Name</p>
                                                        <p><b>Card Set:</b> @item.Card.print_tag</p>
                                                        <p><b>Rarity:</b> @item.Card.rarity</p>
                                                        <h4>Price Info (USD based):</h4>
                                                        <p><b>Low:</b> @item.Card.low.ToString("c2") </p>
                                                        <p><b>Average:</b> @item.Card.average.ToString("c2") </p>
                                                        <p><b>High:</b> @item.Card.high.ToString("c2") </p>
                                                        <p><b>This Sale Price (NZD):</b> @item.Price.ToString("c2") </p>
                                                        <p><b>Grade:</b> @item.CardGrade.Grading <b>Condition:</b> @item.CardCondition.CardCondition</p>
                                                        <p><b>Username: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active" })</p>
                                                        @if (item.Seller.ID.ToString() == Session["UserID"].ToString())
                                                        {
                                                            <a>@Html.ActionLink("Edit Listing", "editListing", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                            <a id="modalDetails1">@Html.ActionLink("Remove Listing", "removeListing", "Sales", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                        else
                                                        {
                                                            <a>@Html.ActionLink("Add to Watchlist", "addToWatchlist", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                            <a id="modalDetails1">@Html.ActionLink("Add to Shopping cart", "addShoppingcart", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <br />

                <div id="ProfileWatchlist">
                    <div style="display:flex">
                        <h3 id="sales" style="text-align:center;">My Watchlist</h3>
                        <a id="sales" style="height:20%; color:#3ea6ff; text-align:center; padding-top:10px; margin-left:60%">@Html.ActionLink("SEE ALL", "Watchlist", "Profile", new { id = Model.MyUser.ID }, new { @id = "seeall" })</a>
                    </div>
                    <div id="AllCards" class="container">
                        <div class="row">
                            @foreach (var item in Model.MyWatchList)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        @if (item.ID != 1038)
                                        {
                                        <div data-toggle="modal" data-target="#Watchlist_@item.ID" id="CardImage">
                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                        </div>
                                        }
                                        else
                                        {
                                            <div id="CardImage">
                                                <a><div style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" /></div></a>
                                            </div>
                                        }
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a style="text-align:center;"><p id="CardName">@item.Card.name</p></a>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (item.ID != 1038)
                                {
                                    <div id="Watchlist_@item.ID" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div id="modal-header1">
                                                        <h4 style="text-align:center;" class="modal-title">@item.Card.name</h4>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div style="display:flex;">
                                                        <div id="modalDetails1">
                                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                                        </div>
                                                        <div id="modalDetails">
                                                            <p><b>Card Type:</b> @item.Card.Cardtype.Name</p>
                                                            <p><b>Card Set:</b> @item.Card.print_tag</p>
                                                            <p><b>Rarity:</b> @item.Card.rarity</p>
                                                            <h4>Price Info (USD based):</h4>
                                                            <p><b>Low:</b> @item.Card.low.ToString("c2") </p>
                                                            <p><b>Average:</b> @item.Card.average.ToString("c2") </p>
                                                            <p><b>High:</b> @item.Card.high.ToString("c2") </p>
                                                            <p><b>This Sale Price (NZD):</b> @item.Price.ToString("c2") </p>
                                                            <p><b>Grade:</b> @item.CardGrade.Grading <b>Condition:</b> @item.CardCondition.CardCondition</p>
                                                            <p><b>Username: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active" })</p>
                                                            @if (item.Seller.ID.ToString() == Session["UserID"].ToString())
                                                            {
                                                                <a>@Html.ActionLink("Edit Listing", "editListing", "Sales", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                                <a id="modalDetails1">@Html.ActionLink("Remove Listing", "removeListing", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                            }
                                                            else
                                                            {
                                                                <a>@Html.ActionLink("Remove from watchlist", "removeFromWatchlist", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                                <a id="modalDetails1">@Html.ActionLink("Add to Shopping cart", "addShoppingcart", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />

                <div id="ProfileCollection">
                    <div style="display:flex">
                        <h3 id="sales" style="text-align:center;">My Collection</h3>
                        <a id="sales" style="height:20%; color:#3ea6ff; text-align:center; padding-top:10px; margin-left:60%">@Html.ActionLink("SEE ALL", "Collection", "Profile", new { id = Model.MyUser.ID }, new { @id = "seeall" })</a>
                    </div>
                    <div id="AllCards" class="container">
                        <div class="row">
                            @foreach (var item in Model.MyCollection)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        @if (item.ID != 1495)
                                        {
                                            <div data-toggle="modal" data-target="#Collection_@item.ID" id="CardImage">
                                                <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="CardImage">
                                                <a><div style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" /></div></a>
                                            </div>
                                        }
                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a style="text-align:center;"><p id="CardName">@item.name</p></a>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Collection_@item.ID" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div id="modal-header1">
                                                    <h4 style="text-align:center;" class="modal-title">@item.name</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:flex;">
                                                    <div id="modalDetails1">
                                                        <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                                    </div>
                                                    <div id="modalDetails">
                                                        <h4><b>Name:</b> @item.name</h4>
                                                        <p><b>Card Type:</b> @item.Cardtype.Name</p>
                                                        <p><b>Set:</b> @item.print_tag</p>
                                                        <p><b>Rarity:</b> @item.rarity</p>
                                                        <p><b>Average Price:</b> @item.average.ToString("c2")</p>
                                                        @if (Model.MyUser.ID.ToString() == Session["UserID"].ToString())
                                                        {
                                                            <a>@Html.ActionLink("List for Sale", "Create", "Sales", new { card = item.name }, new { @class = "btn btn-primary" })</a>
                                                            <a>@Html.ActionLink("Remove from collection", "removeCollection", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                        else
                                                        {
                                                            <a>@Html.ActionLink("Request trade", "requestTrade", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                            <a>@Html.ActionLink("Add to Wishlist", "addCardToWishlist", "Card", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <br />

                <div id="ProfileWishlist">
                    <div style="display:flex">
                        <h3 id="sales" style="text-align:center;">My Wishlist</h3>
                        <a id="sales" style="height:20%; color:#3ea6ff; text-align:center; padding-top:10px; margin-left:60%">@Html.ActionLink("SEE ALL", "Wishlist", "Profile", new { id = Model.MyUser.ID }, new { @id = "seeall" })</a>
                    </div>
                    <div id="AllCards" class="container">
                        <div class="row">
                            @foreach (var item in Model.MyWishList)
                            {
                                <div class=" lozad" id="CardGrid">
                                    <div id="Card">
                                        @if (item.ID != 1495)
                                        {
                                            <div data-toggle="modal" data-target="#Wishlist_@item.ID" id="CardImage">
                                                <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="CardImage">
                                                <a><div style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" /></div></a>
                                            </div>
                                        }

                                        <div id="DetailGrid">
                                            <div id="Detail">
                                                <a style="text-align:center;"><p id="CardName">@item.name</p></a>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Wishlist_@item.ID" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div id="modal-header1">
                                                    <h4 style="text-align:center;" class="modal-title">@item.name</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:flex;">
                                                    @if (item.ID != 1495)
                                                    {
                                                        <div id="modalDetails1">
                                                            <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="modalDetails1">
                                                            <a><div style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                                        </div>
                                                    }
                                                    <div id="modalDetails">
                                                        <h4><b>Name:</b> @item.name</h4>
                                                        <p><b>Card Type:</b> @item.Cardtype.Name</p>
                                                        <p><b>Set:</b> @item.print_tag</p>
                                                        <p><b>Rarity:</b> @item.rarity</p>
                                                        <p><b>Average Price:</b> @item.average.ToString("c2")</p>
                                                        @if (Model.MyUser.ID.ToString() == Session["UserID"].ToString())
                                                        {
                                                            <a>@Html.ActionLink("Remove from wishlist", "removeWishlist", "Profile", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                        else
                                                        {
                                                            <a>@Html.ActionLink("Add to Wishlist", "addCardToWishlist", "Card", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <a href="/users/edit/@Session["UserID"]">Edit Profile</a>
                <a> My Reviews and Ratings</a>

            }
            else
            {
                <a href="/Sales/MyListings/@Model.MyUser.ID">Current Sales</a>
                <a>Reviews and Ratings</a>
                <a href="/profile/collection/@Model.MyUser.ID">Collection</a>
                <a href="/profile/wishlist/@Model.MyUser.ID">Wishlist</a>
            }
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>
