@model TeamTwoBe.Models.Card

@{
    ViewBag.Title = "CardsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CardsView</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceHigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceHigh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rarity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Show a card", "GetCard", new { @class = "btn btn-primary"}, new { id = Model.ID }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
