@model TeamTwoBe.Models.User
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</head>
<body>
    <div id="base">
        @if (Model.ID.ToString() == Session["UserID"].ToString())
        {
            <div style="margin:auto">
                <div style="position:relative; display:flex; margin:auto; max-width:1380px;">
                    <h3 style="padding-left:15px;">@Html.ActionLink(Model.Username + "'s Collection", "Profile", "Users", new { id = Model.ID }, new { @onclick = "loading()" })</h3>
                    <a style="height:20%; color:#3ea6ff;">@Html.ActionLink("Add card to collection", "Collection", "Card", new { }, new { @id = "addlisting", @onclick = "loading()" })</a>
                </div>
            </div>
        }
        else
        {
            <div style="display:flex">
                <h3 style="padding-left:15px;">@Html.ActionLink(Model.Username + "'s Collection", "Profile", "Users", new { id = Model.ID }, new { @onclick = "loading()" })</h3>
            </div>
        }

        <div id="AllCards" class="container">
            <div class="row">
                @foreach (var item in Model.Collection)
                {
                    <div class=" lozad" id="CardGrid">
                        <div id="Card">
                            <div data-toggle="modal" data-target="#@item.ID" id="CardImage">
                                <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="313" width="215" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                            </div>
                            <div id="DetailGrid">
                                <div id="Detail">
                                    <a style="text-align:center;"><p id="CardName">@item.name</p></a>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="@item.ID" class="modal fade" role="dialog">
                        <form action="/Sales/apiPrice" id="card-search" method="post">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div id="modal-header1">
                                            <input name="dropboxvalue" style="display:none" value="@item.name" />
                                            <h4 style="text-align:center;" class="modal-title">@item.name</h4>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div style="display:flex;">
                                            <div id="modalDetails1">
                                                <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.image_url" /></div></a>
                                            </div>
                                            <div id="modalDetails">
                                                <h4><b>Name:</b> @item.name</h4>
                                                <p><b>Card Type:</b> @item.Cardtype.Name</p>
                                                <p><b>Set:</b> @item.print_tag</p>
                                                <p><b>Rarity:</b> @item.rarity</p>
                                                <p><b>Average Price:</b> @item.average.ToString("c2")</p>
                                                @if (Model.ID.ToString() == Session["UserID"].ToString())
                                                {
                                                    <a>@Html.ActionLink("Remove from collection", "removeCollection", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                                                    <button class="btn btn-default" type="submit" id="modalDetails1">List for sale</button>
                                                }
                                                else
                                                {
                                                    <button onclick="RequestCard(@item.ID)" class="btn btn-primary">Request trade</button>
                                                    <a>@Html.ActionLink("Add to Wishlist", "addCardToWishlist", "Card", new { id = item.ID }, new { @class = "btn btn-default" })</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>