@model List<TeamTwoBe.Models.UserReview>

@{
    ViewBag.Title = "MyReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<div id="base" class="text-center">
    <h2>Reviews Received</h2>

    @foreach (var i in Model)
    {
        if (i.Reviewer.ID.ToString() == Session["UserID"].ToString())
        {
            <ul>
                <li><p>Review For: @i.CardReviewed.Seller.Username</p></li>
                <li><p>Card Reviewed: @i.CardReviewed.Card.name @i.CardReviewed.Card.print_tag @i.CardReviewed.Card.rarity</p></li>
                <li><p>Star Rating: @i.StarRating</p></li>
                <li><p>Review Received: @i.ReviewGiven</p></li>
                <br />
            </ul>
        }
        else
        {
            <h2>Reviews Given</h2>
            <ul>
                <li><p>My Review For: @i.CardReviewed.Buyer.Username</p></li>
                <li><p>Card Reviewed: @i.CardReviewed.Card.name @i.CardReviewed.Card.print_tag @i.CardReviewed.Card.rarity</p></li>
                <li><p>Star Rating: @i.StarRating</p></li>
                <li><p>Review: @i.ReviewGiven</p></li>
                <br />
            </ul>
        }

    }
</div>
