@model TeamTwoBe.ViewModels.UserReview_AverageAndTotalRatingsVM

@{
    ViewBag.Title = "MyReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<div id="base" class="text-center">
    @if (Model.userReview.Count >= 1)
    {

        <h2>@Model.userReview[0].Reviewer.Username's Reviews Received</h2>

        <h5>Total Reviews: @Model.totalReviews.Count()</h5>
        <h5>Total Average Ratings: @Model.averageRatings.ToString()</h5>
        <br />

        foreach (var i in Model.userReview)
        {
            if (i.Reviewee.ID.ToString() == Session["UserID"].ToString())
            {
                <ul>
                    <li><p>My Review from Buyer: @i.CardReviewed.Buyer.Username</p></li>
                    <li><p>Card Reviewed: @i.CardReviewed.Card.name @i.CardReviewed.Card.print_tag @i.CardReviewed.Card.rarity</p></li>
                    <li><p>Star Rating: @i.StarRating</p></li>
                    <li><p>Review Received: @i.ReviewGiven</p></li>
                    <br />
                </ul>
            }
        }

        <h2>@Model.userReview[0].Reviewer.Username's Reviews Given</h2>

        foreach (var i in Model.userReview)
        {

            if (i.Reviewer.ID.ToString() == Session["UserID"].ToString())
            {

                <ul>
                    <li><p>My Review of Seller: @i.CardReviewed.Seller.Username</p></li>
                    <li><p>Card Reviewed: @i.CardReviewed.Card.name @i.CardReviewed.Card.print_tag @i.CardReviewed.Card.rarity</p></li>
                    <li><p>Star Rating: @i.StarRating</p></li>
                    <li><p>Review Given: @i.ReviewGiven</p></li>
                    <br />
                </ul>
            }
        }

    }
    else
    {
        <h2>No Reviews Available</h2>

    }




</div>
