@model TeamTwoBe.Models.User

@{
    ViewBag.Title = "Shoppingcart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <style>
        .table-bordered td, .table-bordered th {
            border: 0px solid #444;
            border-top: 1px solid #444;
        }
    </style>
</head>
<body>
    <div id="base">
        <h2 style="text-align: center">Shopping Cart</h2>

        <table class="table table-hover table-bordered" style="border-spacing:2px;">
            <tr>
                <th></th>
                <th>Card Details</th>
                <th style="text-align: center;">Buy</th>
                <th style="text-align: center;">Buy with verification</th>
                <th style="text-align: center;">Price</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ShoppingCart)
            {
                <tr>
                    <td style="text-align: center"><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="120" width="80" class="lozad" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Blank.gif" data-src="@item.Card.image_url" /></div></td>
                    <td>
                        <div id="loading">
                            <a href=""><b> @item.Card.apiID @item.CardCondition.CardCondition @item.CardGrade.Grading</b> </a>
                            <p><b>Seller: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active", @onclick = "loading()" })</p>
                        </div>
                    </td>
                    <td style="margin:auto;">
                        @Html.ActionLink("Buy", "purchaseCard", new { id = item.ID }, new { @class = "btn btn-primary", @style = "margin:auto; width:100%" })
                    </td>
                    <td style="margin:auto;">
                        @Html.ActionLink("Buy with Verification", "purchaseVerifiedCard", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()", @style = "margin:auto; width:100%" })
                    </td>
                    <td style="text-align:center">
                        <p><b>Price:</b> @item.Price.ToString("c2")</p>
                    </td>
                    <td>
                        @Html.ActionLink("X", "removeFromShoppingCart", new { id = item.ID }, new { @class = "btn btn-default", @onclick = "loading()", @style = "margin:auto;" })
                    </td>
                </tr>
            }
        </table>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>

