@model TeamTwoBe.Models.User

@{
    ViewBag.Title = "Shoppingcart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <style>
        .table-bordered td, .table-bordered th {
            border: 0px solid #444;
            border-top: 1px solid #444;
        }

        #salename:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="base">
        <h2 style="text-align: center">Shopping Cart</h2>

        <table class="table table-hover table-bordered" style="border-spacing:2px;">
            <tr>
                <th></th>
                <th>Card Details</th>
                <th style="text-align: center;">Buy</th>
                <th style="text-align: center;">Buy with verification</th>
                <th style="text-align: center;">Price</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ShoppingCart)
            {
                <tr>
                    <td style="text-align: center"><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img data-toggle="modal" data-target="#@item.ID" loading="auto" height="120" width="80" class="lozad" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Blank.gif" data-src="@item.Card.image_url" /></div></td>
                    <td>
                        <div id="loading">
                            <a id="salename" style="cursor:pointer" data-toggle="modal" data-target="#@item.ID"><b> @item.Card.apiID @item.CardCondition.CardCondition @item.CardGrade.Grading</b> </a>
                            <p><b>Seller: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active", @onclick = "loading()" })</p>
                        </div>
                    </td>
                    <td style="margin:auto;">
                        <button style="margin:auto; width:100%" class="btn btn-primary" data-toggle="modal" data-target="#PurchaseModal_@item.ID">Buy</button>
                    </td>
                    <td style="margin:auto;">
                        @Html.ActionLink("Buy with Verification", "purchaseVerifiedCard", new { id = item.ID }, new { @class = "btn btn-primary", @onclick = "loading()", @style = "margin:auto; width:100%" })
                    </td>
                    <td style="text-align:center">
                        <p><b>Price:</b> @item.Price.ToString("c2")</p>
                    </td>
                    <td>
                        @Html.ActionLink("X", "removeFromShoppingCart", new { id = item.ID }, new { @class = "btn btn-default", @onclick = "loading()", @style = "margin:auto;" })
                    </td>
                </tr>
                <div id="@item.ID" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div id="modal-header1">
                                    <h4 style="text-align:center;" class="modal-title">@item.Card.name</h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div style="display:flex;">
                                    <div id="modalDetails1">
                                        <a><div data-tilt data-tilt-glare="true" style="display:inline-block;"><img loading="auto" height="415" width="275" class="lozad" src="~/Properties/blank.jpg" data-src="@item.Card.image_url" /></div></a>
                                    </div>
                                    <div id="modalDetails">
                                        <p><b>Card Type:</b> @item.Card.Cardtype.Name</p>
                                        <p><b>Card Set:</b> @item.Card.print_tag</p>
                                        <p><b>Rarity:</b> @item.Card.rarity</p>
                                        <h4>Price Info (USD based):</h4>
                                        <p><b>Low:</b> @item.Card.low.ToString("c2") </p>
                                        <p><b>Average:</b> @item.Card.average.ToString("c2") </p>
                                        <p><b>High:</b> @item.Card.high.ToString("c2") </p>
                                        <p><b>This Sale Price (NZD):</b> @item.Price.ToString("c2") </p>
                                        <p><b>Grade:</b> @item.CardGrade.Grading <b>Condition:</b> @item.CardCondition.CardCondition</p>
                                        <p><b>Username: </b>@Html.ActionLink(item.Seller.Username, "Profile", "Users", new { id = item.Seller.ID }, new { @class = "Active", @onclick = "loading()" })</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="PurchaseModal_@item.ID" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Purchase confirmation!</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="actionsBtns">
                                    <form action="/Users/PasswordVerify" method="post">
                                        <label>Enter Password to confirm purchase</label>
                                        <input type="password" placeholder="Password" name="Password" />
                                        <input style="display:none" type="text" placeholder="Password" name="id" value="@item.ID" />
                                        <input type="submit" value="Enter" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </table>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.babel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading.js"></script>
    <script type="text/javascript" src="~/Scripts/lazyloading2.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
</body>

