
@model List<TeamTwoBe.Models.Card>
@{ 
    ViewBag.Title = "WishlistIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   



<h2>@Session["Username"]'s Wishlist View</h2>

<div>
    <P>You currently have no cards in your wishlist. Try searching for some using the search bar below!</P>
    <br />
    @using (Html.BeginForm("GetCardName", "Profile"))
    {
        <b>Search:</b>
        <input type="text" name="GetCardName" />
        <input type="submit" value="Search" />
    }

    @if (Model != null)
    {
     <table class="table table-hover table-bordered">
        <tr>
            <th>Image</th>
            <th>
            @Html.DisplayNameFor(model => model)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><img src="" /></td>
                <td>
                    <h4>@item.name</h4>
                    @*@Html.DisplayFor(modelItem => item.name)*@
                    <p><b>Card Type:</b> @item.Cardtype</p>
                    <p><b>Price:</b> @item.PriceAverage.ToString("c2")</p>
                </td>
            </tr>
        }
    </table>
    }

</div>
