@model TeamTwoBe.Models.User
@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink(Model.Username + "'s Wishlist","Profile","Users", new { id = Model.ID }, null)</h2>
@if (Model.ID.ToString() == Session["UserID"].ToString())
{
    <h4>@Html.ActionLink("Add card to wishlist", "Wishlist", "Card")</h4>
}

<div>
    @if (Model.Wishlist.Count < 1)
    {
        <h4>@Model.Username does not have any cards in their wishlist.</h4>
    }
    else
    {
        <table class="table table-hover table-bordered">
            <tr>
                <th>Image</th>
                <th>Cards</th>
            </tr>
            @foreach (var item in Model.Wishlist)
            {
                <tr>
                    <td><img width="145" src="@item.image_url" /></td>
                    <td>
                        <h4>@item.name</h4>
                        <p><b>Card Type:</b> @item.Cardtype.Name</p>
                        <p><b>Price:</b> @item.average.ToString("c2")</p>
                        @if (Model.ID.ToString() == Session["UserID"].ToString())
                    {
                            <a>@Html.ActionLink("Remove from wishlist", "removeWishlist", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                        }
                        else
                        {
                            <a>@Html.ActionLink("Add to Wishlist", "addCardToWishlist", "Card", new { id = item.ID }, new { @class = "btn btn-primary" })</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>