@model TeamTwoBe.Models.User
@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Username's Wishlist View</h2>
<h4>@Html.ActionLink("Add card to wishlist","Wishlist","Card")</h4>

<div>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Image</th>
            <th>Cards</th>
        </tr>
        @foreach (var item in Model.Wishlist)
        {
            <tr>
                <td><img width="145" src="@item.image_url" /></td>
                <td>
                    <h4>@item.name</h4>
                    <p><b>Card Type:</b> @item.Cardtype.Name</p>
                    <p><b>Price:</b> @item.average.ToString("c2")</p>
                </td>
            </tr>
        }
    </table>
</div>